name: Custom app Docker Image
run-name: Packaging App and Building Docker Image

on: [push]

env:
  PACKER_VERSION: "latest" # or: "1.8.6"

jobs:
  hello-docker:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - name: Install Dep
      run: |
        make install
    - name: Compress App
      run: |
        tar -czvf app.tar.gz ./app
        ls
    
    # Packer
    - name: Setup `packer`
      uses: hashicorp/setup-packer@main
      id: setup
      with:
        version: ${{env.PACKER_VERSION}}
    - name: Run `packer init`
      id: init
      run: packer init ./docker-fastapi.pkr.hcl
    - name: Run `packer validate`
      id: validate
      run: packer validate ./docker-fastapi.pkr.hcl
    - name: Run `packer build`
      id: build
      run: packer build ./docker-fastapi.pkr.hcl

    # Docker Check
    - name: Docker images
      id: docker-images
      run: docker images
    
    - name: Build a docker container
      id: docker-run
      run: docker run -d --name fastapi-app-container -p 8000:80 fastapi-image:1.0
    
    - name: List containers
      id: container-list
      run: docker container list
    
    - name: Curl container
      id: curl-container
      uses: indiesdev/curl@v1.1
      with:
        url: https://127.0.0.1:8000