name: Custom app Docker Image

on: [push]

env:
  PACKER_VERSION: "latest" # or: "1.8.6"

jobs:
  hello-docker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Dep
      run: |
        make install
    - name: Compress App
      run: |
        tar -czvf app.tar.gz ./app
        ls
    
    # Packer
    - name: Setup `packer`
      uses: hashicorp/setup-packer@main
      id: setup
      with:
        version: ${{env.PACKER_VERSION}}
    - name: Run `packer init`
      id: init
      run: packer init ./docker-fastapi.pkr.hcl
    - name: Run `packer validate`
      id: validate
      run: packer validate ./docker-fastapi.pkr.hcl
    
    - name: Run `packer build`
      id: build
      run: packer build ./docker-fastapi.pkr.hcl